.section{
    min-height: 100vh;
    display: block;
    opacity: 1;
    padding: 0;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.padd-15{
    padding: 0px 15px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: #302e4d;
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: #ec1839;
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: #ec1839;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.about .about-text{
    flex: 0 0 100%;
    max-width: 100%;

}
.about .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
}
.about .about-text h3 span {
    color: #ec1839;

}
.about .about-text p{
    font-size: 20px;
    line-height: 30px;
    color: #504e70;
}

.about .about-content .experience{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #302e4d;
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress{
    background-color: #e8dfec;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item{
    margin-bottom: 20px;
}
.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #ec1839;
}
.about .about-content .skills .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: #302e4d;
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education,    
.about .about-content .experience {    
    width: 50%;
}
.about .about-content h3.title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #302e4d;
}
.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-height: 100%;

}
.about .about-content .timeline{
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #e8dfec;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0px;
}
.about .about-content .timeline .timeline-item::before{
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: #ec1839;
}
.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ec1839;
}
.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: #504e70;
}
.about .about-content .timeline .timeline-date .fa{
    margin-right: 5px;

}
.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #302e4d;
}
.about .about-content .timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: #504e70;
}
.about .about-content .experience .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .experience .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #302e4d;
    text-transform: capitalize;
}
.about .about-content .experience .skill-item .progress{
    background-color: #e8dfec;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .experience .skill-item{
    margin-bottom: 20px;
}
.about .about-content .experience .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #ec1839;
}
.about .about-content .experience .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: #302e4d;
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}

.about .about-content .row{
    display: flex;
    justify-content: flex-start;
}
@media (max-width: 767px){
    .about .about-content .education,
    .about .about-content .experience{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
